<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.home_automation">

    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Slog IOT"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Help"
            android:label="Help"></activity>
        <activity
            android:name=".Main_Page"
            android:label="Slog IOT"
            android:screenOrientation="portrait" />

        <activity android:name=".bluetooth.ControllerActivity"></activity>
        <activity android:name=".bluetooth.MainActivity">
        </activity>

        <activity
            android:name=".Privacy_Policy"
            android:label="Privacy Policy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:label="About Us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Device"
            android:label="Device"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WifiMainActivity"
            android:label="Wifi Controller"
            android:screenOrientation="portrait" />
    </application>

</manifest>